{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}


<main class="container py-5 text-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
       <tbody>

            {% for data in history %}
            <tr>
                <td class="text-start">{{ data["symbol"] }}</td>
                <td class="text-end">{{ data["shares"] }}</td>
                <td class="text-end">{{ data["price"] | usd }}</td>
                <td class="text-end">{{ data["timestamp"] }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
        </main>

        </footer>

{% endblock %}
