{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id="registration-form" action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Verify Your Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div>
                {{ message }}
            </div>
            {% endfor %}
            <script>
                setTimeout(function() {
                    window.location.href = "/"; // Redirect to login page after 3 seconds
                }, 500);
            </script>
        {% endif %}
        {% endwith %}
    </form>
{% endblock %}
